### Data Ingestion

In [20]:
### Document data structure
from langchain_core.documents import Document

In [21]:
doc=Document(
    page_content="this is the main text content Iam using to create a RAG ",
    metadata={
        "source": "example.txt",
        "page": 1,
        "author":"omkar abhale",
        "date_created":"2024-01-01"
    }
)
doc

Document(metadata={'source': 'example.txt', 'page': 1, 'author': 'omkar abhale', 'date_created': '2024-01-01'}, page_content='this is the main text content Iam using to create a RAG ')

In [22]:
## create a simple txt file
import os
os.makedirs("data/text_files", exist_ok=True)

In [ ]:
sample_text={
    "data/text_files/doc1.txt":"""python programing introduction
    Python is a high-level, interpreted programming language known for its simplicity and readability.
    It was created by Guido van Rossum and first released in 1991. Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming.
    It has a large standard library that provides tools suited to many tasks, making it a popular choice for web development, data analysis, artificial intelligence, scientific computing, and more. Python's syntax emphasizes code readability, allowing developers to express concepts in fewer lines of code compared to other languages. It is widely used in various fields due to its versatility and ease of learning.
    üîë Key Features of Python

Simple & Easy to Learn

Python has a very clean and readable syntax (similar to English).

Example:

print("Hello, World!")


Interpreted Language

You don‚Äôt need to compile code before running it.

Just write ‚Üí run ‚Üí see results.

Cross-Platform

Runs on Windows, Linux, macOS, and even mobile/embedded systems.

Free & Open Source

Anyone can use, modify, and distribute it.

High-Level Language

Handles memory management automatically, so developers can focus on logic, not low-level details.

Extensive Standard Library

Comes with built-in modules for math, file handling, networking, databases, etc.

Huge Ecosystem of Packages

Using pip, you can install 3rd-party libraries (like numpy, pandas, langchain, flask, etc.).

Object-Oriented & Functional

Supports classes, inheritance, and objects, but also allows functional programming styles.

Dynamically Typed

No need to declare variable types explicitly:

x = 10   # integer
x = "Hi" # now a string


Embeddable & Extensible

You can embed Python in C/C++ applications or extend Python with other languages.

Great for Multiple Domains

Web development (Django, Flask)

Data Science (NumPy, Pandas, Scikit-learn)

AI/ML (TensorFlow, PyTorch)

Automation/Scripting

Game Development, Networking, IoT, etc.""",
}
for file_path, content in sample_text.items():
    with open(file_path, "w", encoding="utf-8") as f:
        f.write(content)
print("Sample text files created.")

PermissionError: [Errno 13] Permission denied: 'data/text_files/doc1.txt'

In [ ]:
### Text Loader

In [ ]:
from langchain.document_loaders import TextLoader
from langchain_community.document_loaders import TextLoader

loader=TextLoader("data/text_files/python_intro.txt",
                   encoding="utf-8")
document=loader.load()
print(Document)

<class 'langchain_core.documents.base.Document'>

In [ ]:
### directory loader
from langchain_community.document_loaders import DirectoryLoader
dir_loader=DirectoryLoader("data/text_files",
                           glob="**/*.txt",##patern to match files
                           loader_cls=TextLoader,##loaderclass to use
                           loader_kwargs={"encoding":"utf-8"},
                           show_progress=False
                           )
documents=dir_loader.load()
documents

[Document(metadata={'source': 'data\\text_files\\doc1.txt'}, page_content='python programing introduction\n    Python is a high-level, interpreted programming language known for its simplicity and readability.\n    It was created by Guido van Rossum and first released in 1991. Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming.\n    It has a large standard library that provides tools suited to many tasks, making it a popular choice for web development, data analysis, artificial intelligence, scientific computing, and more. Python\'s syntax emphasizes code readability, allowing developers to express concepts in fewer lines of code compared to other languages. It is widely used in various fields due to its versatility and ease of learning.\n    üîë Key Features of Python\n\nSimple & Easy to Learn\n\nPython has a very clean and readable syntax (similar to English).\n\nExample:\n\nprint("Hello, World!")\n\n\nInterpreted Language\n\nYou don‚Äôt need to compile code before running it.\n\nJust write ‚Üí run ‚Üí see results.\n\nCross-Platform\n\nRuns on Windows, Linux, macOS, and even mobile/embedded systems.\n\nFree & Open Source\n\nAnyone can use, modify, and distribute it.\n\nHigh-Level Language\n\nHandles memory management automatically, so developers can focus on logic, not low-level details.\n\nExtensive Standard Library\n\nComes with built-in modules for math, file handling, networking, databases, etc.\n\nHuge Ecosystem of Packages\n\nUsing pip, you can install 3rd-party libraries (like numpy, pandas, langchain, flask, etc.).\n\nObject-Oriented & Functional\n\nSupports classes, inheritance, and objects, but also allows functional programming styles.\n\nDynamically Typed\n\nNo need to declare variable types explicitly:\n\nx = 10   # integer\nx = "Hi" # now a string\n\n\nEmbeddable & Extensible\n\nYou can embed Python in C/C++ applications or extend Python with other languages.\n\nGreat for Multiple Domains\n\nWeb development (Django, Flask)\n\nData Science (NumPy, Pandas, Scikit-learn)\n\nAI/ML (TensorFlow, PyTorch)\n\nAutomation/Scripting\n\nGame Development, Networking, IoT, etc.'),
 Document(metadata={'source': 'data\\text_files\\python_intro.txt'}, page_content='python programing introduction\n    Python is a high-level, interpreted programming language known for its simplicity and readability.\n    It was created by Guido van Rossum and first released in 1991. Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming.\n    It has a large standard library that provides tools suited to many tasks, making it a popular choice for web development, data analysis, artificial intelligence, scientific computing, and more. Python\'s syntax emphasizes code readability, allowing developers to express concepts in fewer lines of code compared to other languages. It is widely used in various fields due to its versatility and ease of learning.\n    üîë Key Features of Python\n\nSimple & Easy to Learn\n\nPython has a very clean and readable syntax (similar to English).\n\nExample:\n\nprint("Hello, World!")\n\n\nInterpreted Language\n\nYou don‚Äôt need to compile code before running it.\n\nJust write ‚Üí run ‚Üí see results.\n\nCross-Platform\n\nRuns on Windows, Linux, macOS, and even mobile/embedded systems.\n\nFree & Open Source\n\nAnyone can use, modify, and distribute it.\n\nHigh-Level Language\n\nHandles memory management automatically, so developers can focus on logic, not low-level details.\n\nExtensive Standard Library\n\nComes with built-in modules for math, file handling, networking, databases, etc.\n\nHuge Ecosystem of Packages\n\nUsing pip, you can install 3rd-party libraries (like numpy, pandas, langchain, flask, etc.).\n\nObject-Oriented & Functional\n\nSupports classes, inheritance, and objects, but also allows functional programming styles.\n\nDynamically Typed\n\nNo need to declare variable types explicitly:\n\nx = 10   # integer\nx = "Hi" # now a string\n\n\nEmbeddable & Extensible\n\nYou can embed Python in C/C++ applications or extend Python with other languages.\n\nGreat for Multiple Domains\n\nWeb development (Django, Flask)\n\nData Science (NumPy, Pandas, Scikit-learn)\n\nAI/ML (TensorFlow, PyTorch)\n\nAutomation/Scripting\n\nGame Development, Networking, IoT, etc.')]

In [ ]:
### diectory loader with multiple file types
from langchain_community.document_loaders import DirectoryLoader
from langchain.document_loaders import TextLoader,    UnstructuredMarkdownLoader
###load all text and markdown files from a directory
dir_loader=DirectoryLoader(
    "data/text_files",
    glob="**/*.txt",##patern to match files
    loader_cls=TextLoader,
    loader_kwargs={"encoding":"utf-8"},
    show_progress=False
)  
documents=dir_loader.load()
documents

[Document(metadata={'source': 'data\\text_files\\doc1.txt'}, page_content='python programing introduction\n    Python is a high-level, interpreted programming language known for its simplicity and readability.\n    It was created by Guido van Rossum and first released in 1991. Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming.\n    It has a large standard library that provides tools suited to many tasks, making it a popular choice for web development, data analysis, artificial intelligence, scientific computing, and more. Python\'s syntax emphasizes code readability, allowing developers to express concepts in fewer lines of code compared to other languages. It is widely used in various fields due to its versatility and ease of learning.\n    üîë Key Features of Python\n\nSimple & Easy to Learn\n\nPython has a very clean and readable syntax (similar to English).\n\nExample:\n\nprint("Hello, World!")\n\n\nInterpreted Language\n\nYou don‚Äôt need to compile code before running it.\n\nJust write ‚Üí run ‚Üí see results.\n\nCross-Platform\n\nRuns on Windows, Linux, macOS, and even mobile/embedded systems.\n\nFree & Open Source\n\nAnyone can use, modify, and distribute it.\n\nHigh-Level Language\n\nHandles memory management automatically, so developers can focus on logic, not low-level details.\n\nExtensive Standard Library\n\nComes with built-in modules for math, file handling, networking, databases, etc.\n\nHuge Ecosystem of Packages\n\nUsing pip, you can install 3rd-party libraries (like numpy, pandas, langchain, flask, etc.).\n\nObject-Oriented & Functional\n\nSupports classes, inheritance, and objects, but also allows functional programming styles.\n\nDynamically Typed\n\nNo need to declare variable types explicitly:\n\nx = 10   # integer\nx = "Hi" # now a string\n\n\nEmbeddable & Extensible\n\nYou can embed Python in C/C++ applications or extend Python with other languages.\n\nGreat for Multiple Domains\n\nWeb development (Django, Flask)\n\nData Science (NumPy, Pandas, Scikit-learn)\n\nAI/ML (TensorFlow, PyTorch)\n\nAutomation/Scripting\n\nGame Development, Networking, IoT, etc.'),
 Document(metadata={'source': 'data\\text_files\\python_intro.txt'}, page_content='python programing introduction\n    Python is a high-level, interpreted programming language known for its simplicity and readability.\n    It was created by Guido van Rossum and first released in 1991. Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming.\n    It has a large standard library that provides tools suited to many tasks, making it a popular choice for web development, data analysis, artificial intelligence, scientific computing, and more. Python\'s syntax emphasizes code readability, allowing developers to express concepts in fewer lines of code compared to other languages. It is widely used in various fields due to its versatility and ease of learning.\n    üîë Key Features of Python\n\nSimple & Easy to Learn\n\nPython has a very clean and readable syntax (similar to English).\n\nExample:\n\nprint("Hello, World!")\n\n\nInterpreted Language\n\nYou don‚Äôt need to compile code before running it.\n\nJust write ‚Üí run ‚Üí see results.\n\nCross-Platform\n\nRuns on Windows, Linux, macOS, and even mobile/embedded systems.\n\nFree & Open Source\n\nAnyone can use, modify, and distribute it.\n\nHigh-Level Language\n\nHandles memory management automatically, so developers can focus on logic, not low-level details.\n\nExtensive Standard Library\n\nComes with built-in modules for math, file handling, networking, databases, etc.\n\nHuge Ecosystem of Packages\n\nUsing pip, you can install 3rd-party libraries (like numpy, pandas, langchain, flask, etc.).\n\nObject-Oriented & Functional\n\nSupports classes, inheritance, and objects, but also allows functional programming styles.\n\nDynamically Typed\n\nNo need to declare variable types explicitly:\n\nx = 10   # integer\nx = "Hi" # now a string\n\n\nEmbeddable & Extensible\n\nYou can embed Python in C/C++ applications or extend Python with other languages.\n\nGreat for Multiple Domains\n\nWeb development (Django, Flask)\n\nData Science (NumPy, Pandas, Scikit-learn)\n\nAI/ML (TensorFlow, PyTorch)\n\nAutomation/Scripting\n\nGame Development, Networking, IoT, etc.')]

In [ ]:
from langchain_community.document_loaders import PyPDFLoader,PyMuPDFLoader
from langchain_community.document_loaders import DirectoryLoader
from langchain.document_loaders import TextLoader,    UnstructuredMarkdownLoader
###load all text and markdown files from a directory
dir_loader=DirectoryLoader(
    "data/pdf_files",
    glob="**/*.pdf",##patern to match files
    loader_cls=PyMuPDFLoader,
   
    show_progress=False
)  
pdf_documents=dir_loader.load()
pdf_documents

[Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 0}, page_content='Database Management System\nChapter:4 Relational Algebra\nShaikh Amin Farooqbhai,\nAsst. Prof., CSE Dept, PIET'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 1}, page_content='Chapter:4 Relational Data Model'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 2}, page_content='Keys:\n‚Ä¢ Tuples in a relational model represents individual\nentities or relationships.\n‚Ä¢ There must be some way to distinguished one tuple\nfrom another within a relation.\n‚Ä¢ Tuples are distinguished based on data values stored in\nthem.\n‚Ä¢ No any two tuples in relation have exactly the same\nvalue for all attributes.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 3}, page_content='Keys:\n‚Ä¢ To identify each tuple uniquely in relation, several keys\nhave been defined:\n‚Ä¢ Super Key\n‚Äì ‚ÄúA super key is a set of one or more attributes that\nallows to identify each tuple uniquely in relation.‚Äù\n‚Äì For example in Customer relation cid, cname, address,\ncid attribute can distinguish each tuple from another,\nSo, cid is a super key for Customer relation'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 4}, page_content='Keys:\n‚Ä¢ Super Key\n‚Äì If K is a super key, then any super set of K is super key.\nFor example, combination of cid with any other\nattribute say ‚Äì cid and contact_no is super key for the\nrelation Customer.\n‚Äì Two customers may have same name, so attribute\ncname cannot identify each and every tuple uniquely.\n‚Äì But\ncombination\nof\ncname\nand\naddress\ncan\nbe\nconsidered as super key.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 5}, page_content='Keys:\n‚Ä¢ Relation Key:\n‚Äì ‚ÄúA super key for which no subset is a super key is called a relation key.‚Äù\n‚Äì In simple, relation key is a minimal super key.\n‚Äì A relation key is also referred as ‚Äòkey‚Äô only.\n‚Äì A relation key is sufficient to identify each and every tuple uniquely within a\nrelation.\n‚Äì For example combination of cid and contact_no is super key, but ony cid can\nalone identify entities uniquely.\n‚Äì A super key cannot have null or duplicate values.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 6}, page_content='Keys:\n‚Ä¢ Some times there can be more than one relation keys for the same\nrelation.\n‚Ä¢ I.e {cid} as well as {cname, address} are relation key.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 7}, page_content='Keys:\n‚Ä¢ Candidate key:\n‚Äì ‚ÄúIf relation contains more than one relation keys, then they each are called candidate\nkey.‚Äù\n‚Äì For example, {cname, address} each key is called candidate key.\n‚Ä¢ Primary key:\n‚Äì ‚ÄúA primary key is candidate key that is chosen by database designers to identify tuple\nuniquely in relation.‚Äù\n‚Äì For example, if cid key is chosen by database designers to identify tuple uniquely, then\ncid is referred as primary key.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 8}, page_content='Keys:\n‚Ä¢ Alternate Key\n‚Äì ‚ÄúAn alternate key is candidate key that is not chosen by database designers to identify tuples\nuniquely in a relation.‚Äù\n‚Äì For example if cid is chosen as primary key, then {cname, address} are alternate key for the same\nrelation.\n‚Ä¢ Foreign Key\n‚Äì ‚ÄúA foreign key is a set of one or more attributes whose values are derived from the key\nattribute of another relation.‚Äù\n‚Äì A foreign key can have only those values which appear in another relation where it is defined as\ncandidate key.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 9}, page_content='Keys:'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 10}, page_content='Constraints:\n\uf0d8\nIntegrity constraints are the set of rules imposed on database to maintain quality of data.\n\uf0d8\nIntegrity constraints ensures that any manipulation on data does not affect the data integrity.\n\uf0d8\nIt secures the data management.\n\uf0d8\nVarious Integrity Constraints are:\n1.\nCheck\n2.\nNot null\n3.\nUnique Key\n4.\nPrimary key\n5.\nForeign key'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 11}, page_content='Check Constraints:\n\uf0d8\nSyntax: columnName datatype(size) check (condition);\n\uf0d8\nExample:\n\uf0d8\nCreate table Account (ano varchar(10), balance NUMBER(20) check ( NOT (balance<0) ),\nbname varchar(10));\n\uf0d8\nIf we try to insert negative values in balance column, it will restrict the query and\nwill generate error.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 12}, page_content='Check Constraints:\n\uf0d8\nIt is used to implement business rules.\n\uf0d8\nIt is also referred as business rule constraint.\n\uf0d8\nExamples:\n\uf0d8\nA balance in any account should not be negative value in any situation.\n\uf0d8\nAn account number must start with ‚ÄúA‚Äù and so on.\n\uf0d8\nSyntax: columnName datatype(size) check (condition);'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 13}, page_content='Structure of Relational Database:\n‚Ä¢ A Relational Database Management System (RDBMS) is based on the\nrelational data model.\n‚Ä¢ In relational model, tables are represented both data and relationships\namong those data.\n‚Ä¢ So, relational database consists of collection of tables.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 14}, page_content='Structure of Relational Database:\n‚Ä¢ Each table is assigned a unique name.\n‚Ä¢ A table contains fixed number of columns.\n‚Ä¢ Each column within a table has a unique name, called column header.\n‚Ä¢ A table also contains variable number of rows, records, which contains\ndata values.\n‚Ä¢ A table represents an entity set or relationship set.\n‚Ä¢ Columns of table represents attributes.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 15}, page_content='Structure of Relational Database:'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 16}, page_content='Structure of Relational Database:\n‚Ä¢ A customer table contains information about various customers of bank.\nEach row in a customer table represents one individual customer.\n‚Ä¢ Account table contains information about various accounts. Each row n\naccount table represents one individual account.\n‚Ä¢ Each row provides relationship among values it contains.\n‚Ä¢ For example, account number ‚ÄòA01‚Äô has balance 5000 Rs. And it belongs\nto ‚Äòvvn‚Äô branch.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 17}, page_content='Concept of Relation:\n‚Ä¢ The word ‚ÄúRelational‚Äù is derived from ‚ÄúRelation‚Äù. And, ‚ÄúRelation‚Äù is\ntaken from the mathematical concept of Relation.\n‚Ä¢ In mathematics, a relation is defined as subset of a Cartesian product of\ntwo or more sets.\nA = {a, b, c}\nB = {1, 2, 3})\nSo, A√óB = {(a,1), (a, 2), (a, 3), (b, 1), (b, 2), (b, 3), (c, 1), (c, 2), (c,3)}.\n‚Ä¢ Any subset of A√óB, for example {(a,1),(b,3),(c,2)} is considered as\nrelation of A and B.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 18}, page_content='Concept of Relation:\n‚Ä¢ Now, consider some table of banking system, Such as\nAccount_Holder.\n‚Ä¢ This table has two columns,\ncid (Customer ID)\nano (Account Number)\n‚Ä¢ This table represents relationship among customer and their accounts.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 19}, page_content='Concept of Relation:\n‚Ä¢ Suppose there are 5 customers, C01, C02, C03, C04, C05 and 5 accounts, A01, A02,\nA03, A04, A05.\n‚Ä¢ These values form a Domain for cid and ano.\n‚Ä¢ Domains are,\ncid = {C01, C02, C03, C04, C05}\nano = {A01, A02, A03, A04, A05}\n‚Ä¢\nThe Cartesian product between these two domains. i.e cid√óano, will make a set of 25\nmembers, such as,\ncid√óano = {(C01,A01), (C01,A02)‚Ä¶ (C01,A05),\n(C02,A01), (C02,A02)‚Ä¶ (C02,A05), ‚Ä¶.\n(C05,A01), (C05,A02)‚Ä¶ (C05,A05) }'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 20}, page_content='Concept of Relation:\n‚Ä¢ Now, observe a table Account_Holder given below:\n‚Ä¢ This table represents one subset of Cartesian product between domains of\ncid and ano (cid√óano).\nCid\nAno\nC01\nA01\nC02\nA02\nC03\nA03\nC04\nA04\nC05\nA05\nC02\nA04'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 21}, page_content='Concept of Relation:\n‚Ä¢ Similarly, any table can be considered as a subset of Cartesian product\namong domains of its columns.\n‚Ä¢ Such kind of subset is considered as relation in mathematics.\n‚Ä¢ Due to this, tables are referred as relations also, And, a model which considers\ndatabase as a collection of tables is referred as Relational model.'),

In [3]:
type(pdf_documents[0])

NameError: name 'pdf_documents' is not defined

In [ ]:
from langchain_community.document_loaders import PyPDFLoader, PyMuPDFLoader, DirectoryLoader
from langchain.text_splitter import RecursiveCharacterTextSplitter

# Step 1: Load all PDF files from a directory
dir_loader = DirectoryLoader(
    "data/pdf_files",
    glob="**/*.pdf",   # pattern to match files
    loader_cls=PyMuPDFLoader,
    show_progress=True
)

pdf_documents = dir_loader.load()

print(f"Total documents loaded: {len(pdf_documents)}")

# Step 2: Split the loaded documents into smaller chunks
text_splitter = RecursiveCharacterTextSplitter(
    chunk_size=1000,      # each chunk will be ~1000 characters
    chunk_overlap=200,    # overlap between chunks for context continuity
    length_function=len,  # measure length using Python's len()
)

# Split the documents
chunks= text_splitter.split_documents(pdf_documents)

print(f"Total chunks created: {len(chunks)}")

# Step 3: (Optional) Preview the first chunk
print("\nSample Chunk:\n")
print(chunks[0].page_content)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 2/2 [00:00<00:00,  8.95it/s]

Total documents loaded: 147
Total chunks created: 150

Sample Chunk:

Database Management System
Chapter:4 Relational Algebra
Shaikh Amin Farooqbhai,
Asst. Prof., CSE Dept, PIET

###Embedding and Vector StoreDB

In [ ]:
import numpy as np
from sentence_transformers import SentenceTransformer
import chromadb
from chromadb.config import Settings
import uuid
from typing import List, Dict, Any, Tuple
from sklearn.metrics.pairwise import cosine_similarity

# Configure ChromaDB
settings = Settings(
    persist_directory="chroma_db",   # folder where DB will be stored
    chroma_db_impl="duckdb+parquet", # storage engine
)

In [ ]:
import numpy as np
from typing import List
from sentence_transformers import SentenceTransformer

class EmbeddingManager:
    """Handles document embeddings generation using SentenceTransformers"""

    def __init__(self, model_name: str = "all-MiniLM-L6-v2"):
        """
        Initialize the embedding manager.

        Args:
            model_name: HuggingFace model name for sentence embedding model
        """
        self.model_name = model_name
        self.model = None
        self._load_model()

    def _load_model(self):
        """Load the sentence transformer model"""
        try:
            print(f"Loading embedding model: {self.model_name}")
            self.model = SentenceTransformer(self.model_name)
            print(f"Model loaded successfully with embedding dim: {self.model.get_sentence_embedding_dimension()}")
        except Exception as e:
            print(f"Error loading model {self.model_name}: {e}")
            raise

    def generate_embeddings(self, texts: List[str]) -> np.ndarray:
        """
        Generate embeddings for a list of texts.

        Args:
            texts: List of text strings to embed

        Returns:
            np.ndarray: Embeddings with shape (len(texts), embedding_dim)
        """
        if not self.model:
            raise ValueError("Model not loaded")

        print(f"Generating embeddings for {len(texts)} texts...")
        embeddings = self.model.encode(texts, show_progress_bar=True)
        print(f"Generated embeddings with shape: {embeddings.shape}")
        return embeddings


# ------------------------
# ‚úÖ Instantiate outside class
# ------------------------
embedding_manager = EmbeddingManager()
texts = ["Hello world", "Sentence transformers make embeddings easy"]
embeddings = embedding_manager.generate_embeddings(texts)

print("Final embeddings shape:", embeddings.shape)

Loading embedding model: all-MiniLM-L6-v2
Model loaded successfully with embedding dim: 384
Generating embeddings for 2 texts...

Batches: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1/1 [00:00<00:00, 46.78it/s]

Generated embeddings with shape: (2, 384)
Final embeddings shape: (2, 384)

vector store

In [ ]:
import os
import uuid
import numpy as np
import chromadb
from typing import Any, List

class VectorStore:
    """Manages document embeddings in a ChromaDB vector store."""

    def __init__(self, collection_name: str = "pdf_documents", persist_directory: str = "../data/vector_store"):
        """
        Initialize the vector store.

        Args:
            collection_name: Name of the ChromaDB collection
            persist_directory: Directory to persist the vector store
        """
        self.collection_name = collection_name
        self.persist_directory = persist_directory
        self.client = None
        self.collection = None
        self.initialize_store()

    def initialize_store(self):
        """Initialize ChromaDB client and collection."""
        try:
            # Create ChromaDB client
            os.makedirs(self.persist_directory, exist_ok=True)
            self.client = chromadb.PersistentClient(path=self.persist_directory)

            # Create or get collection
            self.collection = self.client.get_or_create_collection(
                name=self.collection_name,
                metadata={"description": "PDF document embeddings for RAG"}
            )

            print(f"‚úÖ Vector store initialized. Collection: {self.collection_name}")
            print(f"üìÑ Existing documents in collection: {self.collection.count()}")

        except Exception as e:
            print(f"‚ùå Error initializing vector store: {e}")
            raise

    def add_documents(self, documents: List[Any], embeddings: np.ndarray):
        """
        Add documents and their embeddings to the vector store.

        Args:
            documents: List of Document objects to add
            embeddings: Corresponding embeddings for the documents
        """
        if len(documents) != len(embeddings):
            raise ValueError("Number of documents and embeddings must match")

        print(f"üß† Adding {len(documents)} documents to vector store...")

        # Prepare data for ChromaDB
        ids = []
        document_text = []
        metadatas = []
        embeddings_list = []

        for i, (doc, embedding) in enumerate(zip(documents, embeddings)):
            doc_id = f"doc_{uuid.uuid4().hex[:8]}_{i}"
            ids.append(doc_id)

            # Prepare metadata
            metadata = dict(doc.metadata) if hasattr(doc, "metadata") else {}
            metadata["doc_index"] = i
            metadata["content_length"] = len(doc.page_content)
            metadatas.append(metadata)

            # Document content
            document_text.append(doc.page_content)
            embeddings_list.append(embedding.tolist())  # Convert np.ndarray to list

        # Add to ChromaDB collection
        try:
            self.collection.add(
                ids=ids,
                documents=document_text,
                metadatas=metadatas,
                embeddings=embeddings_list
            )
            print(f"‚úÖ Successfully added {len(documents)} documents to vector store.")
            print(f"üìä Total documents in collection: {self.collection.count()}")

        except Exception as e:
            print(f"‚ùå Error adding documents to vector store: {e}")
            raise


# Instantiate and initialize
vector_store = VectorStore()

‚úÖ Vector store initialized. Collection: pdf_documents
üìÑ Existing documents in collection: 1084

In [ ]:
chunks

[Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 0}, page_content='Database Management System\nChapter:4 Relational Algebra\nShaikh Amin Farooqbhai,\nAsst. Prof., CSE Dept, PIET'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 1}, page_content='Chapter:4 Relational Data Model'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 2}, page_content='Keys:\n‚Ä¢ Tuples in a relational model represents individual\nentities or relationships.\n‚Ä¢ There must be some way to distinguished one tuple\nfrom another within a relation.\n‚Ä¢ Tuples are distinguished based on data values stored in\nthem.\n‚Ä¢ No any two tuples in relation have exactly the same\nvalue for all attributes.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 3}, page_content='Keys:\n‚Ä¢ To identify each tuple uniquely in relation, several keys\nhave been defined:\n‚Ä¢ Super Key\n‚Äì ‚ÄúA super key is a set of one or more attributes that\nallows to identify each tuple uniquely in relation.‚Äù\n‚Äì For example in Customer relation cid, cname, address,\ncid attribute can distinguish each tuple from another,\nSo, cid is a super key for Customer relation'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 4}, page_content='Keys:\n‚Ä¢ Super Key\n‚Äì If K is a super key, then any super set of K is super key.\nFor example, combination of cid with any other\nattribute say ‚Äì cid and contact_no is super key for the\nrelation Customer.\n‚Äì Two customers may have same name, so attribute\ncname cannot identify each and every tuple uniquely.\n‚Äì But\ncombination\nof\ncname\nand\naddress\ncan\nbe\nconsidered as super key.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 5}, page_content='Keys:\n‚Ä¢ Relation Key:\n‚Äì ‚ÄúA super key for which no subset is a super key is called a relation key.‚Äù\n‚Äì In simple, relation key is a minimal super key.\n‚Äì A relation key is also referred as ‚Äòkey‚Äô only.\n‚Äì A relation key is sufficient to identify each and every tuple uniquely within a\nrelation.\n‚Äì For example combination of cid and contact_no is super key, but ony cid can\nalone identify entities uniquely.\n‚Äì A super key cannot have null or duplicate values.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 6}, page_content='Keys:\n‚Ä¢ Some times there can be more than one relation keys for the same\nrelation.\n‚Ä¢ I.e {cid} as well as {cname, address} are relation key.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 7}, page_content='Keys:\n‚Ä¢ Candidate key:\n‚Äì ‚ÄúIf relation contains more than one relation keys, then they each are called candidate\nkey.‚Äù\n‚Äì For example, {cname, address} each key is called candidate key.\n‚Ä¢ Primary key:\n‚Äì ‚ÄúA primary key is candidate key that is chosen by database designers to identify tuple\nuniquely in relation.‚Äù\n‚Äì For example, if cid key is chosen by database designers to identify tuple uniquely, then\ncid is referred as primary key.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 8}, page_content='Keys:\n‚Ä¢ Alternate Key\n‚Äì ‚ÄúAn alternate key is candidate key that is not chosen by database designers to identify tuples\nuniquely in a relation.‚Äù\n‚Äì For example if cid is chosen as primary key, then {cname, address} are alternate key for the same\nrelation.\n‚Ä¢ Foreign Key\n‚Äì ‚ÄúA foreign key is a set of one or more attributes whose values are derived from the key\nattribute of another relation.‚Äù\n‚Äì A foreign key can have only those values which appear in another relation where it is defined as\ncandidate key.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 9}, page_content='Keys:'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 10}, page_content='Constraints:\n\uf0d8\nIntegrity constraints are the set of rules imposed on database to maintain quality of data.\n\uf0d8\nIntegrity constraints ensures that any manipulation on data does not affect the data integrity.\n\uf0d8\nIt secures the data management.\n\uf0d8\nVarious Integrity Constraints are:\n1.\nCheck\n2.\nNot null\n3.\nUnique Key\n4.\nPrimary key\n5.\nForeign key'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 11}, page_content='Check Constraints:\n\uf0d8\nSyntax: columnName datatype(size) check (condition);\n\uf0d8\nExample:\n\uf0d8\nCreate table Account (ano varchar(10), balance NUMBER(20) check ( NOT (balance<0) ),\nbname varchar(10));\n\uf0d8\nIf we try to insert negative values in balance column, it will restrict the query and\nwill generate error.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 12}, page_content='Check Constraints:\n\uf0d8\nIt is used to implement business rules.\n\uf0d8\nIt is also referred as business rule constraint.\n\uf0d8\nExamples:\n\uf0d8\nA balance in any account should not be negative value in any situation.\n\uf0d8\nAn account number must start with ‚ÄúA‚Äù and so on.\n\uf0d8\nSyntax: columnName datatype(size) check (condition);'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 13}, page_content='Structure of Relational Database:\n‚Ä¢ A Relational Database Management System (RDBMS) is based on the\nrelational data model.\n‚Ä¢ In relational model, tables are represented both data and relationships\namong those data.\n‚Ä¢ So, relational database consists of collection of tables.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 14}, page_content='Structure of Relational Database:\n‚Ä¢ Each table is assigned a unique name.\n‚Ä¢ A table contains fixed number of columns.\n‚Ä¢ Each column within a table has a unique name, called column header.\n‚Ä¢ A table also contains variable number of rows, records, which contains\ndata values.\n‚Ä¢ A table represents an entity set or relationship set.\n‚Ä¢ Columns of table represents attributes.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 15}, page_content='Structure of Relational Database:'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 16}, page_content='Structure of Relational Database:\n‚Ä¢ A customer table contains information about various customers of bank.\nEach row in a customer table represents one individual customer.\n‚Ä¢ Account table contains information about various accounts. Each row n\naccount table represents one individual account.\n‚Ä¢ Each row provides relationship among values it contains.\n‚Ä¢ For example, account number ‚ÄòA01‚Äô has balance 5000 Rs. And it belongs\nto ‚Äòvvn‚Äô branch.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 17}, page_content='Concept of Relation:\n‚Ä¢ The word ‚ÄúRelational‚Äù is derived from ‚ÄúRelation‚Äù. And, ‚ÄúRelation‚Äù is\ntaken from the mathematical concept of Relation.\n‚Ä¢ In mathematics, a relation is defined as subset of a Cartesian product of\ntwo or more sets.\nA = {a, b, c}\nB = {1, 2, 3})\nSo, A√óB = {(a,1), (a, 2), (a, 3), (b, 1), (b, 2), (b, 3), (c, 1), (c, 2), (c,3)}.\n‚Ä¢ Any subset of A√óB, for example {(a,1),(b,3),(c,2)} is considered as\nrelation of A and B.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 18}, page_content='Concept of Relation:\n‚Ä¢ Now, consider some table of banking system, Such as\nAccount_Holder.\n‚Ä¢ This table has two columns,\ncid (Customer ID)\nano (Account Number)\n‚Ä¢ This table represents relationship among customer and their accounts.'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 19}, page_content='Concept of Relation:\n‚Ä¢ Suppose there are 5 customers, C01, C02, C03, C04, C05 and 5 accounts, A01, A02,\nA03, A04, A05.\n‚Ä¢ These values form a Domain for cid and ano.\n‚Ä¢ Domains are,\ncid = {C01, C02, C03, C04, C05}\nano = {A01, A02, A03, A04, A05}\n‚Ä¢\nThe Cartesian product between these two domains. i.e cid√óano, will make a set of 25\nmembers, such as,\ncid√óano = {(C01,A01), (C01,A02)‚Ä¶ (C01,A05),\n(C02,A01), (C02,A02)‚Ä¶ (C02,A05), ‚Ä¶.\n(C05,A01), (C05,A02)‚Ä¶ (C05,A05) }'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 20}, page_content='Concept of Relation:\n‚Ä¢ Now, observe a table Account_Holder given below:\n‚Ä¢ This table represents one subset of Cartesian product between domains of\ncid and ano (cid√óano).\nCid\nAno\nC01\nA01\nC02\nA02\nC03\nA03\nC04\nA04\nC05\nA05\nC02\nA04'),
 Document(metadata={'producer': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creator': 'Microsoft¬Æ PowerPoint¬Æ LTSC', 'creationdate': '2024-07-20T07:25:56+05:30', 'source': 'data\\pdf_files\\Chapter_4.pdf', 'file_path': 'data\\pdf_files\\Chapter_4.pdf', 'total_pages': 78, 'format': 'PDF 1.7', 'title': 'COMPUTER MAINTANANCE AND TROUBLESHOOTING', 'author': 'Amin Shaikh', 'subject': '', 'keywords': '', 'moddate': '2024-07-20T07:25:56+05:30', 'trapped': '', 'modDate': "D:20240720072556+05'30'", 'creationDate': "D:20240720072556+05'30'", 'page': 21}, page_content='Concept of Relation:\n‚Ä¢ Similarly, any table can be considered as a subset of Cartesian product\namong domains of its columns.\n‚Ä¢ Such kind of subset is considered as relation in mathematics.\n‚Ä¢ Due to this, tables are referred as relations also, And, a model which considers\ndatabase as a collection of tables is referred as Relational model.'),

In [ ]:
# After chunking and embedding generation
texts = [doc.page_content for doc in chunks]
embeddings = embedding_manager.generate_embeddings(texts)

# Add to vector database
vector_store.add_documents(chunks, embeddings)

NameError: name 'chunks' is not defined

In [ ]:
from typing import List, Dict, Any
import numpy as np

# ----------------------------
# RAGRetriever Class
# ----------------------------
class RAGRetriever:
    """Handles query-based retrieval from the vector store."""

    def __init__(self, vector_store, embedding_manager):
        """
        Initialize the retriever.

        Args:
            vector_store: Instance of VectorStore to query
            embedding_manager: Instance of EmbeddingManager to generate query embeddings
        """
        self.vector_store = vector_store
        self.embedding_manager = embedding_manager

    def retrieve(self, query: str, top_k: int = 5, score_threshold: float = 0.0) -> List[Dict[str, Any]]:
        """
        Retrieve top-k relevant documents for a given query.

        Args:
            query: User query string
            top_k: Number of top documents to retrieve
            score_threshold: Minimum similarity score to consider
        """
        print(f"Retrieving documents for query: '{query}'")
        print(f"Top K: {top_k}, Score threshold: {score_threshold}")

        # Generate the query embedding
        query_embedding = self.embedding_manager.generate_embeddings([query])[0]

        # Query the vector store
        try:
            results = self.vector_store.collection.query(
                query_embeddings=[query_embedding.tolist()],
                n_results=top_k,
                include=["documents", "metadatas", "distances"]  # ‚úÖ Fixed: removed "ids"
            )

            retrieved_docs = []

            if results.get('documents') and results['documents'][0]:
                documents = results['documents'][0]
                metadatas = results.get('metadatas', [[]])[0]
                distances = results.get('distances', [[]])[0]
                ids = results.get('ids', [[]])[0] if 'ids' in results else [None] * len(documents)

                for i, (doc_id, document, metadata, distance) in enumerate(zip(ids, documents, metadatas, distances)):
                    similarity_score = 1 - distance  # Convert distance to similarity

                    if similarity_score >= score_threshold:
                        retrieved_docs.append({
                            'id': doc_id,
                            'content': document,
                            'metadata': metadata,
                            'similarity_score': similarity_score,
                            'distance': distance,
                            'rank': i + 1
                        })

                print(f"‚úÖ Retrieved {len(retrieved_docs)} documents (after filtering)")
            else:
                print("‚ö†Ô∏è No documents found")

            return retrieved_docs

        except Exception as e:
            print(f"‚ùå Error during retrieval: {e}")
            return []


# ‚úÖ Instantiate the retriever (outside the class)
rag_retriever = RAGRetriever(vector_store, embedding_manager)

NameError: name 'vector_store' is not defined

In [ ]:
rag_retriever

In [ ]:
rag_retriever.retrieve(" what is super key")

NameError: name 'rag_retriever' is not defined

INTEGRATION WITH LLM